<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/under-construction.css">
</head>
<body>
    <div class="container">
        <h1>🚧 VendBoost is Under Construction 🚧</h1>
        <p>We are working hard to launch our vendor platform. Signups will be available soon.</p>
        <a href="/" class="btn-home">Go Back Home</a>
    </div>
</body>
</html>